body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    cursor: default;
}

